# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Caches
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/

# Outputs / artifacts
outputs/
*.pt
*.pth
*.ckpt

# OS
.DS_Store
